.container {
  margin-top: var(--space-5);
  margin-bottom: var(--space-8);
}
.flex {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
}
.grid {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  column-gap: var(--space-1);
  row-gap: var(--space-3);
}
@media (max-width: var(--breakpoint-sm)) {
  .grid {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}
@media (min-width: var(--breakpoint-xs)) {
  .grid {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

.item {
  flex-grow: 1;
}
.itemColor {
  height: 3rem;
  margin-bottom: var(--space-1);
  border-radius: var(--radius-1);
}
.itemLabel {
  text-align: center;
}
