@import './green';
@import './green-dark';
@import './green-alpha';
@import './green-dark-alpha';

:root {
  --green-contrast: white;
}

:root,

.light-theme, [data-theme='light'] {
  --green-surface: #f1faf4cc;
  --green-indicator: var(--green-9);
  --green-track: var(--green-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --green-surface: color(display-p3 0.9569 0.9804 0.9608 / 0.8);
    }
  }
}


.dark-theme, [data-theme='dark'] {
  --green-surface: #15251d80;
  --green-indicator: var(--green-9);
  --green-track: var(--green-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --green-surface: color(display-p3 0.0941 0.1412 0.1098 / 0.5);
    }
  }
}
