@import './indigo';
@import './indigo-dark';
@import './indigo-alpha';
@import './indigo-dark-alpha';

:root {
  --indigo-contrast: white;
}

:root,

.light-theme, [data-theme='light'] {
  --indigo-surface: #f5f8ffcc;
  --indigo-indicator: var(--indigo-9);
  --indigo-track: var(--indigo-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --indigo-surface: color(display-p3 0.9647 0.9725 0.9961 / 0.8);
    }
  }
}


.dark-theme, [data-theme='dark'] {
  --indigo-surface: #171d3b80;
  --indigo-indicator: var(--indigo-9);
  --indigo-track: var(--indigo-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --indigo-surface: color(display-p3 0.0941 0.1098 0.2196 / 0.5);
    }
  }
}
