@import './jade';
@import './jade-dark';
@import './jade-alpha';
@import './jade-dark-alpha';

:root {
  --jade-contrast: white;
}

:root,

.light-theme, [data-theme='light'] {
  --jade-surface: #f1faf5cc;
  --jade-indicator: var(--jade-9);
  --jade-track: var(--jade-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --jade-surface: color(display-p3 0.9529 0.9804 0.9608 / 0.8);
    }
  }
}


.dark-theme, [data-theme='dark'] {
  --jade-surface: #13271f80;
  --jade-indicator: var(--jade-9);
  --jade-track: var(--jade-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --jade-surface: color(display-p3 0.0863 0.149 0.1176 / 0.5);
    }
  }
}
