@import './sand';
@import './sand-dark';
@import './sand-alpha';
@import './sand-dark-alpha';

:root {
  --sand-contrast: white;
}

:root,

.light-theme, [data-theme='light'] {
  --sand-surface: #ffffffcc;
  --sand-indicator: var(--sand-9);
  --sand-track: var(--sand-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --sand-surface: color(display-p3 1 1 1 / 0.8);
    }
  }
}


.dark-theme, [data-theme='dark'] {
  --sand-surface: #21212080;
  --sand-indicator: var(--sand-9);
  --sand-track: var(--sand-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --sand-surface: color(display-p3 0.1255 0.1255 0.1255 / 0.5);
    }
  }
}
