// @breakpoints {
  .t-as-start {
    align-self: flex-start;
  }

  .t-as-center {
    align-self: center;
  }

  .t-as-end {
    align-self: flex-end;
  }

  .t-as-baseline {
    align-self: baseline;
  }

  .t-as-stretch {
    align-self: stretch;
  }
// }
