// @breakpoints {
  .t-display-block {
    display: block;
  }

  .t-display-inline {
    display: inline;
  }

  .t-display-inline-block {
    display: inline-block;
  }

  .t-display-flex {
    display: flex;
  }

  .t-display-inline-flex {
    display: inline-flex;
  }

  .t-display-grid {
    display: grid;
  }

  .t-display-inline-grid {
    display: inline-grid;
  }

  .t-display-none {
    display: none;
  }
// }
