// @breakpoints {
  .t-grs {
    /* Keep this selector here to maintain the source order */
  }
  .t-grs-1 {
    grid-row-start: 1;
  }
  .t-grs-2 {
    grid-row-start: 2;
  }
  .t-grs-3 {
    grid-row-start: 3;
  }
  .t-grs-4 {
    grid-row-start: 4;
  }
  .t-grs-5 {
    grid-row-start: 5;
  }
  .t-grs-6 {
    grid-row-start: 6;
  }
  .t-grs-7 {
    grid-row-start: 7;
  }
  .t-grs-8 {
    grid-row-start: 8;
  }
  .t-grs-9 {
    grid-row-start: 9;
  }
// }

.t-grs {
  grid-row-start: var(--grid-row-start);
}
@media (--xs) {
  .xs\:t-grs {
    grid-row-start: var(--grid-row-start-xs);
  }
}
@media (--sm) {
  .sm\:t-grs {
    grid-row-start: var(--grid-row-start-sm);
  }
}
@media (--md) {
  .md\:t-grs {
    grid-row-start: var(--grid-row-start-md);
  }
}
@media (--lg) {
  .lg\:t-grs {
    grid-row-start: var(--grid-row-start-lg);
  }
}
@media (--xl) {
  .xl\:t-grs {
    grid-row-start: var(--grid-row-start-xl);
  }
}
