// @breakpoints {
  .t-gce {
    /* Keep this selector here to maintain the source order */
  }
  .t-gce-1 {
    grid-column-end: 1;
  }
  .t-gce-2 {
    grid-column-end: 2;
  }
  .t-gce-3 {
    grid-column-end: 3;
  }
  .t-gce-4 {
    grid-column-end: 4;
  }
  .t-gce-5 {
    grid-column-end: 5;
  }
  .t-gce-6 {
    grid-column-end: 6;
  }
  .t-gce-7 {
    grid-column-end: 7;
  }
  .t-gce-8 {
    grid-column-end: 8;
  }
  .t-gce-9 {
    grid-column-end: 9;
  }
// }

.t-gce {
  grid-column-end: var(--grid-column-end);
}
@media (--xs) {
  .xs\:t-gce {
    grid-column-end: var(--grid-column-end-xs);
  }
}
@media (--sm) {
  .sm\:t-gce {
    grid-column-end: var(--grid-column-end-sm);
  }
}
@media (--md) {
  .md\:t-gce {
    grid-column-end: var(--grid-column-end-md);
  }
}
@media (--lg) {
  .lg\:t-gce {
    grid-column-end: var(--grid-column-end-lg);
  }
}
@media (--xl) {
  .xl\:t-gce {
    grid-column-end: var(--grid-column-end-xl);
  }
}
