// @breakpoints {
  .t-gr {
    /* Keep this selector here to maintain the source order */
  }
  .t-gr-1 {
    grid-row: 1;
  }
  .t-gr-2 {
    grid-row: 2;
  }
  .t-gr-3 {
    grid-row: 3;
  }
  .t-gr-4 {
    grid-row: 4;
  }
  .t-gr-5 {
    grid-row: 5;
  }
  .t-gr-6 {
    grid-row: 6;
  }
  .t-gr-7 {
    grid-row: 7;
  }
  .t-gr-8 {
    grid-row: 8;
  }
  .t-gr-9 {
    grid-row: 9;
  }
// }

.t-gr {
  grid-row: var(--grid-row);
}
@media (--xs) {
  .xs\:t-gr {
    grid-row: var(--grid-row-xs);
  }
}
@media (--sm) {
  .sm\:t-gr {
    grid-row: var(--grid-row-sm);
  }
}
@media (--md) {
  .md\:t-gr {
    grid-row: var(--grid-row-md);
  }
}
@media (--lg) {
  .lg\:t-gr {
    grid-row: var(--grid-row-lg);
  }
}
@media (--xl) {
  .xl\:t-gr {
    grid-row: var(--grid-row-xl);
  }
}
