// @breakpoints {
  .t-gtc {
    /* Keep this selector here to maintain the source order */
  }
  .t-gtc-1 {
    grid-template-columns: minmax(0, 1fr);
  }
  .t-gtc-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .t-gtc-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .t-gtc-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .t-gtc-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .t-gtc-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .t-gtc-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  .t-gtc-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  .t-gtc-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
// }

.t-gtc {
  grid-template-columns: var(--grid-template-columns);
}
@media (--xs) {
  .xs\:t-gtc {
    grid-template-columns: var(--grid-template-columns-xs);
  }
}
@media (--sm) {
  .sm\:t-gtc {
    grid-template-columns: var(--grid-template-columns-sm);
  }
}
@media (--md) {
  .md\:t-gtc {
    grid-template-columns: var(--grid-template-columns-md);
  }
}
@media (--lg) {
  .lg\:t-gtc {
    grid-template-columns: var(--grid-template-columns-lg);
  }
}
@media (--xl) {
  .xl\:t-gtc {
    grid-template-columns: var(--grid-template-columns-xl);
  }
}
