.t-h {
  height: var(--height);
}
@media (--xs) {
  .xs\:t-h {
    height: var(--height-xs);
  }
}
@media (--sm) {
  .sm\:t-h {
    height: var(--height-sm);
  }
}
@media (--md) {
  .md\:t-h {
    height: var(--height-md);
  }
}
@media (--lg) {
  .lg\:t-h {
    height: var(--height-lg);
  }
}
@media (--xl) {
  .xl\:t-h {
    height: var(--height-xl);
  }
}
