/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*              All sides              */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

// @breakpoints {
  .t-m,
  .t-m-0,
  .t-m-1,
  .t-m-2,
  .t-m-3,
  .t-m-4,
  .t-m-5,
  .t-m-6,
  .t-m-7,
  .t-m-8,
  .t-m-9,
  .-t-m-1,
  .-t-m-2,
  .-t-m-3,
  .-t-m-4,
  .-t-m-5,
  .-t-m-6,
  .-t-m-7,
  .-t-m-8,
  .-t-m-9 {
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-right: var(--margin-right-override, var(--margin-right));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
    margin-left: var(--margin-left-override, var(--margin-left));
  }
  .t-m {
    /* Keep this selector here to maintain the source order */
  }
  .t-m-0 {
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
  }
  .t-m-1 {
    --margin-top: var(--space-1);
    --margin-right: var(--space-1);
    --margin-bottom: var(--space-1);
    --margin-left: var(--space-1);
  }
  .t-m-2 {
    --margin-top: var(--space-2);
    --margin-right: var(--space-2);
    --margin-bottom: var(--space-2);
    --margin-left: var(--space-2);
  }
  .t-m-3 {
    --margin-top: var(--space-3);
    --margin-right: var(--space-3);
    --margin-bottom: var(--space-3);
    --margin-left: var(--space-3);
  }
  .t-m-4 {
    --margin-top: var(--space-4);
    --margin-right: var(--space-4);
    --margin-bottom: var(--space-4);
    --margin-left: var(--space-4);
  }
  .t-m-5 {
    --margin-top: var(--space-5);
    --margin-right: var(--space-5);
    --margin-bottom: var(--space-5);
    --margin-left: var(--space-5);
  }
  .t-m-6 {
    --margin-top: var(--space-6);
    --margin-right: var(--space-6);
    --margin-bottom: var(--space-6);
    --margin-left: var(--space-6);
  }
  .t-m-7 {
    --margin-top: var(--space-7);
    --margin-right: var(--space-7);
    --margin-bottom: var(--space-7);
    --margin-left: var(--space-7);
  }
  .t-m-8 {
    --margin-top: var(--space-8);
    --margin-right: var(--space-8);
    --margin-bottom: var(--space-8);
    --margin-left: var(--space-8);
  }
  .t-m-9 {
    --margin-top: var(--space-9);
    --margin-right: var(--space-9);
    --margin-bottom: var(--space-9);
    --margin-left: var(--space-9);
  }
  .-t-m-1 {
    --margin-top: calc(-1 * var(--space-1));
    --margin-right: calc(-1 * var(--space-1));
    --margin-bottom: calc(-1 * var(--space-1));
    --margin-left: calc(-1 * var(--space-1));
  }
  .-t-m-2 {
    --margin-top: calc(-1 * var(--space-2));
    --margin-right: calc(-1 * var(--space-2));
    --margin-bottom: calc(-1 * var(--space-2));
    --margin-left: calc(-1 * var(--space-2));
  }
  .-t-m-3 {
    --margin-top: calc(-1 * var(--space-3));
    --margin-right: calc(-1 * var(--space-3));
    --margin-bottom: calc(-1 * var(--space-3));
    --margin-left: calc(-1 * var(--space-3));
  }
  .-t-m-4 {
    --margin-top: calc(-1 * var(--space-4));
    --margin-right: calc(-1 * var(--space-4));
    --margin-bottom: calc(-1 * var(--space-4));
    --margin-left: calc(-1 * var(--space-4));
  }
  .-t-m-5 {
    --margin-top: calc(-1 * var(--space-5));
    --margin-right: calc(-1 * var(--space-5));
    --margin-bottom: calc(-1 * var(--space-5));
    --margin-left: calc(-1 * var(--space-5));
  }
  .-t-m-6 {
    --margin-top: calc(-1 * var(--space-6));
    --margin-right: calc(-1 * var(--space-6));
    --margin-bottom: calc(-1 * var(--space-6));
    --margin-left: calc(-1 * var(--space-6));
  }
  .-t-m-7 {
    --margin-top: calc(-1 * var(--space-7));
    --margin-right: calc(-1 * var(--space-7));
    --margin-bottom: calc(-1 * var(--space-7));
    --margin-left: calc(-1 * var(--space-7));
  }
  .-t-m-8 {
    --margin-top: calc(-1 * var(--space-8));
    --margin-right: calc(-1 * var(--space-8));
    --margin-bottom: calc(-1 * var(--space-8));
    --margin-left: calc(-1 * var(--space-8));
  }
  .-t-m-9 {
    --margin-top: calc(-1 * var(--space-9));
    --margin-right: calc(-1 * var(--space-9));
    --margin-bottom: calc(-1 * var(--space-9));
    --margin-left: calc(-1 * var(--space-9));
  }
// }
.t-m {
  --margin-top: var(--m);
  --margin-right: var(--m);
  --margin-bottom: var(--m);
  --margin-left: var(--m);
}
@media (--xs) {
  .xs\:t-m {
    --margin-top: var(--m-xs);
    --margin-right: var(--m-xs);
    --margin-bottom: var(--m-xs);
    --margin-left: var(--m-xs);
  }
}
@media (--sm) {
  .sm\:t-m {
    --margin-top: var(--m-sm);
    --margin-right: var(--m-sm);
    --margin-bottom: var(--m-sm);
    --margin-left: var(--m-sm);
  }
}
@media (--md) {
  .md\:t-m {
    --margin-top: var(--m-md);
    --margin-right: var(--m-md);
    --margin-bottom: var(--m-md);
    --margin-left: var(--m-md);
  }
}
@media (--lg) {
  .lg\:t-m {
    --margin-top: var(--m-lg);
    --margin-right: var(--m-lg);
    --margin-bottom: var(--m-lg);
    --margin-left: var(--m-lg);
  }
}
@media (--xl) {
  .xl\:t-m {
    --margin-top: var(--m-xl);
    --margin-right: var(--m-xl);
    --margin-bottom: var(--m-xl);
    --margin-left: var(--m-xl);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*           Left and right            */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

// @breakpoints {
  .t-mx,
  .t-mx-0,
  .t-mx-1,
  .t-mx-2,
  .t-mx-3,
  .t-mx-4,
  .t-mx-5,
  .t-mx-6,
  .t-mx-7,
  .t-mx-8,
  .t-mx-9,
  .-t-mx-1,
  .-t-mx-2,
  .-t-mx-3,
  .-t-mx-4,
  .-t-mx-5,
  .-t-mx-6,
  .-t-mx-7,
  .-t-mx-8,
  .-t-mx-9 {
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }
  .t-mx {
    /* Keep this selector here to maintain the source order */
  }
  .t-mx-0 {
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .t-mx-1 {
    --margin-left: var(--space-1);
    --margin-right: var(--space-1);
  }
  .t-mx-2 {
    --margin-left: var(--space-2);
    --margin-right: var(--space-2);
  }
  .t-mx-3 {
    --margin-left: var(--space-3);
    --margin-right: var(--space-3);
  }
  .t-mx-4 {
    --margin-left: var(--space-4);
    --margin-right: var(--space-4);
  }
  .t-mx-5 {
    --margin-left: var(--space-5);
    --margin-right: var(--space-5);
  }
  .t-mx-6 {
    --margin-left: var(--space-6);
    --margin-right: var(--space-6);
  }
  .t-mx-7 {
    --margin-left: var(--space-7);
    --margin-right: var(--space-7);
  }
  .t-mx-8 {
    --margin-left: var(--space-8);
    --margin-right: var(--space-8);
  }
  .t-mx-9 {
    --margin-left: var(--space-9);
    --margin-right: var(--space-9);
  }
  .-t-mx-1 {
    --margin-left: calc(-1 * var(--space-1));
    --margin-right: calc(-1 * var(--space-1));
  }
  .-t-mx-2 {
    --margin-left: calc(-1 * var(--space-2));
    --margin-right: calc(-1 * var(--space-2));
  }
  .-t-mx-3 {
    --margin-left: calc(-1 * var(--space-3));
    --margin-right: calc(-1 * var(--space-3));
  }
  .-t-mx-4 {
    --margin-left: calc(-1 * var(--space-4));
    --margin-right: calc(-1 * var(--space-4));
  }
  .-t-mx-5 {
    --margin-left: calc(-1 * var(--space-5));
    --margin-right: calc(-1 * var(--space-5));
  }
  .-t-mx-6 {
    --margin-left: calc(-1 * var(--space-6));
    --margin-right: calc(-1 * var(--space-6));
  }
  .-t-mx-7 {
    --margin-left: calc(-1 * var(--space-7));
    --margin-right: calc(-1 * var(--space-7));
  }
  .-t-mx-8 {
    --margin-left: calc(-1 * var(--space-8));
    --margin-right: calc(-1 * var(--space-8));
  }
  .-t-mx-9 {
    --margin-left: calc(-1 * var(--space-9));
    --margin-right: calc(-1 * var(--space-9));
  }
// }
.t-mx {
  --margin-left: var(--ml);
  --margin-right: var(--mr);
}
@media (--xs) {
  .xs\:t-mx {
    --margin-left: var(--ml-xs);
    --margin-right: var(--mr-xs);
  }
}
@media (--sm) {
  .sm\:t-mx {
    --margin-left: var(--ml-md);
    --margin-right: var(--mr-md);
  }
}
@media (--md) {
  .md\:t-mx {
    --margin-left: var(--ml-md);
    --margin-right: var(--mr-md);
  }
}
@media (--lg) {
  .lg\:t-mx {
    --margin-left: var(--ml-lg);
    --margin-right: var(--mr-lg);
  }
}
@media (--xl) {
  .xl\:t-mx {
    --margin-left: var(--ml-xl);
    --margin-right: var(--mr-xl);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*           Top and bottom            */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

// @breakpoints {
  .t-my,
  .t-my-0,
  .t-my-1,
  .t-my-2,
  .t-my-3,
  .t-my-4,
  .t-my-5,
  .t-my-6,
  .t-my-7,
  .t-my-8,
  .t-my-9,
  .-t-my-1,
  .-t-my-2,
  .-t-my-3,
  .-t-my-4,
  .-t-my-5,
  .-t-my-6,
  .-t-my-7,
  .-t-my-8,
  .-t-my-9 {
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }
  .t-my {
    /* Keep this selector here to maintain the source order */
  }
  .t-my-0 {
    --margin-top: 0px;
    --margin-bottom: 0px;
  }
  .t-my-1 {
    --margin-top: var(--space-1);
    --margin-bottom: var(--space-1);
  }
  .t-my-2 {
    --margin-top: var(--space-2);
    --margin-bottom: var(--space-2);
  }
  .t-my-3 {
    --margin-top: var(--space-3);
    --margin-bottom: var(--space-3);
  }
  .t-my-4 {
    --margin-top: var(--space-4);
    --margin-bottom: var(--space-4);
  }
  .t-my-5 {
    --margin-top: var(--space-5);
    --margin-bottom: var(--space-5);
  }
  .t-my-6 {
    --margin-top: var(--space-6);
    --margin-bottom: var(--space-6);
  }
  .t-my-7 {
    --margin-top: var(--space-7);
    --margin-bottom: var(--space-7);
  }
  .t-my-8 {
    --margin-top: var(--space-8);
    --margin-bottom: var(--space-8);
  }
  .t-my-9 {
    --margin-top: var(--space-9);
    --margin-bottom: var(--space-9);
  }
  .-t-my-1 {
    --margin-top: calc(-1 * var(--space-1));
    --margin-bottom: calc(-1 * var(--space-1));
  }
  .-t-my-2 {
    --margin-top: calc(-1 * var(--space-2));
    --margin-bottom: calc(-1 * var(--space-2));
  }
  .-t-my-3 {
    --margin-top: calc(-1 * var(--space-3));
    --margin-bottom: calc(-1 * var(--space-3));
  }
  .-t-my-4 {
    --margin-top: calc(-1 * var(--space-4));
    --margin-bottom: calc(-1 * var(--space-4));
  }
  .-t-my-5 {
    --margin-top: calc(-1 * var(--space-5));
    --margin-bottom: calc(-1 * var(--space-5));
  }
  .-t-my-6 {
    --margin-top: calc(-1 * var(--space-6));
    --margin-bottom: calc(-1 * var(--space-6));
  }
  .-t-my-7 {
    --margin-top: calc(-1 * var(--space-7));
    --margin-bottom: calc(-1 * var(--space-7));
  }
  .-t-my-8 {
    --margin-top: calc(-1 * var(--space-8));
    --margin-bottom: calc(-1 * var(--space-8));
  }
  .-t-my-9 {
    --margin-top: calc(-1 * var(--space-9));
    --margin-bottom: calc(-1 * var(--space-9));
  }
// }
.t-my {
  --margin-top: var(--mt);
  --margin-bottom: var(--mb);
}
@media (--xs) {
  .xs\:t-my {
    --margin-top: var(--mt-xs);
    --margin-bottom: var(--mb-xs);
  }
}
@media (--sm) {
  .sm\:t-my {
    --margin-top: var(--mt-sm);
    --margin-bottom: var(--mb-sm);
  }
}
@media (--md) {
  .md\:t-my {
    --margin-top: var(--mt-md);
    --margin-bottom: var(--mb-md);
  }
}
@media (--lg) {
  .lg\:t-my {
    --margin-top: var(--mt-lg);
    --margin-bottom: var(--mb-lg);
  }
}
@media (--xl) {
  .xl\:t-my {
    --margin-top: var(--mt-xl);
    --margin-bottom: var(--mb-xl);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*                 Top                 */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

// @breakpoints {
  .t-mt,
  .t-mt-0,
  .t-mt-1,
  .t-mt-2,
  .t-mt-3,
  .t-mt-4,
  .t-mt-5,
  .t-mt-6,
  .t-mt-7,
  .t-mt-8,
  .t-mt-9,
  .-t-mt-1,
  .-t-mt-2,
  .-t-mt-3,
  .-t-mt-4,
  .-t-mt-5,
  .-t-mt-6,
  .-t-mt-7,
  .-t-mt-8,
  .-t-mt-9 {
    margin-top: var(--margin-top-override, var(--margin-top));
  }
  .t-mt {
    /* Keep this selector here to maintain the source order */
  }
  .t-mt-0 {
    --margin-top: 0px;
  }
  .t-mt-1 {
    --margin-top: var(--space-1);
  }
  .t-mt-2 {
    --margin-top: var(--space-2);
  }
  .t-mt-3 {
    --margin-top: var(--space-3);
  }
  .t-mt-4 {
    --margin-top: var(--space-4);
  }
  .t-mt-5 {
    --margin-top: var(--space-5);
  }
  .t-mt-6 {
    --margin-top: var(--space-6);
  }
  .t-mt-7 {
    --margin-top: var(--space-7);
  }
  .t-mt-8 {
    --margin-top: var(--space-8);
  }
  .t-mt-9 {
    --margin-top: var(--space-9);
  }
  .-t-mt-1 {
    --margin-top: calc(-1 * var(--space-1));
  }
  .-t-mt-2 {
    --margin-top: calc(-1 * var(--space-2));
  }
  .-t-mt-3 {
    --margin-top: calc(-1 * var(--space-3));
  }
  .-t-mt-4 {
    --margin-top: calc(-1 * var(--space-4));
  }
  .-t-mt-5 {
    --margin-top: calc(-1 * var(--space-5));
  }
  .-t-mt-6 {
    --margin-top: calc(-1 * var(--space-6));
  }
  .-t-mt-7 {
    --margin-top: calc(-1 * var(--space-7));
  }
  .-t-mt-8 {
    --margin-top: calc(-1 * var(--space-8));
  }
  .-t-mt-9 {
    --margin-top: calc(-1 * var(--space-9));
  }
// }
.t-mt {
  --margin-top: var(--mt);
}
@media (--xs) {
  .xs\:t-mt {
    --margin-top: var(--mt-xs);
  }
}
@media (--sm) {
  .sm\:t-mt {
    --margin-top: var(--mt-sm);
  }
}
@media (--md) {
  .md\:t-mt {
    --margin-top: var(--mt-md);
  }
}
@media (--lg) {
  .lg\:t-mt {
    --margin-top: var(--mt-lg);
  }
}
@media (--xl) {
  .xl\:t-mt {
    --margin-top: var(--mt-xl);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*                Right                */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

// @breakpoints {
  .t-mr,
  .t-mr-0,
  .t-mr-1,
  .t-mr-2,
  .t-mr-3,
  .t-mr-4,
  .t-mr-5,
  .t-mr-6,
  .t-mr-7,
  .t-mr-8,
  .t-mr-9,
  .-t-mr-1,
  .-t-mr-2,
  .-t-mr-3,
  .-t-mr-4,
  .-t-mr-5,
  .-t-mr-6,
  .-t-mr-7,
  .-t-mr-8,
  .-t-mr-9 {
    margin-right: var(--margin-right-override, var(--margin-right));
  }
  .t-mr {
    /* Keep this selector here to maintain the source order */
  }
  .t-mr-0 {
    --margin-right: 0px;
  }
  .t-mr-1 {
    --margin-right: var(--space-1);
  }
  .t-mr-2 {
    --margin-right: var(--space-2);
  }
  .t-mr-3 {
    --margin-right: var(--space-3);
  }
  .t-mr-4 {
    --margin-right: var(--space-4);
  }
  .t-mr-5 {
    --margin-right: var(--space-5);
  }
  .t-mr-6 {
    --margin-right: var(--space-6);
  }
  .t-mr-7 {
    --margin-right: var(--space-7);
  }
  .t-mr-8 {
    --margin-right: var(--space-8);
  }
  .t-mr-9 {
    --margin-right: var(--space-9);
  }
  .-t-mr-1 {
    --margin-right: calc(-1 * var(--space-1));
  }
  .-t-mr-2 {
    --margin-right: calc(-1 * var(--space-2));
  }
  .-t-mr-3 {
    --margin-right: calc(-1 * var(--space-3));
  }
  .-t-mr-4 {
    --margin-right: calc(-1 * var(--space-4));
  }
  .-t-mr-5 {
    --margin-right: calc(-1 * var(--space-5));
  }
  .-t-mr-6 {
    --margin-right: calc(-1 * var(--space-6));
  }
  .-t-mr-7 {
    --margin-right: calc(-1 * var(--space-7));
  }
  .-t-mr-8 {
    --margin-right: calc(-1 * var(--space-8));
  }
  .-t-mr-9 {
    --margin-right: calc(-1 * var(--space-9));
  }
// }
.t-mr {
  --margin-right: var(--mr);
}
@media (--xs) {
  .xs\:t-mr {
    --margin-right: var(--mr-xs);
  }
}
@media (--sm) {
  .sm\:t-mr {
    --margin-right: var(--mr-sm);
  }
}
@media (--md) {
  .md\:t-mr {
    --margin-right: var(--mr-md);
  }
}
@media (--lg) {
  .lg\:t-mr {
    --margin-right: var(--mr-lg);
  }
}
@media (--xl) {
  .xl\:t-mr {
    --margin-right: var(--mr-xl);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*               Bottom                */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

// @breakpoints {
  .t-mb,
  .t-mb-0,
  .t-mb-1,
  .t-mb-2,
  .t-mb-3,
  .t-mb-4,
  .t-mb-5,
  .t-mb-6,
  .t-mb-7,
  .t-mb-8,
  .t-mb-9,
  .-t-mb-1,
  .-t-mb-2,
  .-t-mb-3,
  .-t-mb-4,
  .-t-mb-5,
  .-t-mb-6,
  .-t-mb-7,
  .-t-mb-8,
  .-t-mb-9 {
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }
  .t-mb {
    /* Keep this selector here to maintain the source order */
  }
  .t-mb-0 {
    --margin-bottom: 0px;
  }
  .t-mb-1 {
    --margin-bottom: var(--space-1);
  }
  .t-mb-2 {
    --margin-bottom: var(--space-2);
  }
  .t-mb-3 {
    --margin-bottom: var(--space-3);
  }
  .t-mb-4 {
    --margin-bottom: var(--space-4);
  }
  .t-mb-5 {
    --margin-bottom: var(--space-5);
  }
  .t-mb-6 {
    --margin-bottom: var(--space-6);
  }
  .t-mb-7 {
    --margin-bottom: var(--space-7);
  }
  .t-mb-8 {
    --margin-bottom: var(--space-8);
  }
  .t-mb-9 {
    --margin-bottom: var(--space-9);
  }
  .-t-mb-1 {
    --margin-bottom: calc(-1 * var(--space-1));
  }
  .-t-mb-2 {
    --margin-bottom: calc(-1 * var(--space-2));
  }
  .-t-mb-3 {
    --margin-bottom: calc(-1 * var(--space-3));
  }
  .-t-mb-4 {
    --margin-bottom: calc(-1 * var(--space-4));
  }
  .-t-mb-5 {
    --margin-bottom: calc(-1 * var(--space-5));
  }
  .-t-mb-6 {
    --margin-bottom: calc(-1 * var(--space-6));
  }
  .-t-mb-7 {
    --margin-bottom: calc(-1 * var(--space-7));
  }
  .-t-mb-8 {
    --margin-bottom: calc(-1 * var(--space-8));
  }
  .-t-mb-9 {
    --margin-bottom: calc(-1 * var(--space-9));
  }
// }

.t-mb {
  --margin-bottom: var(--mb);
}
@media (--xs) {
  .xs\:t-mb {
    --margin-bottom: var(--mb-xs);
  }
}
@media (--sm) {
  .sm\:t-mb {
    --margin-bottom: var(--mb-sm);
  }
}
@media (--md) {
  .md\:t-mb {
    --margin-bottom: var(--mb-md);
  }
}
@media (--lg) {
  .lg\:t-mb {
    --margin-bottom: var(--mb-lg);
  }
}
@media (--xl) {
  .xl\:t-mb {
    --margin-bottom: var(--mb-xl);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*                Left                 */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

// @breakpoints {
  .t-ml,
  .t-ml-0,
  .t-ml-1,
  .t-ml-2,
  .t-ml-3,
  .t-ml-4,
  .t-ml-5,
  .t-ml-6,
  .t-ml-7,
  .t-ml-8,
  .t-ml-9,
  .-t-ml-1,
  .-t-ml-2,
  .-t-ml-3,
  .-t-ml-4,
  .-t-ml-5,
  .-t-ml-6,
  .-t-ml-7,
  .-t-ml-8,
  .-t-ml-9 {
    margin-left: var(--margin-left-override, var(--margin-left));
  }
  .t-ml {
    /* Keep this selector here to maintain the source order */
  }
  .t-ml-0 {
    --margin-left: 0px;
  }
  .t-ml-1 {
    --margin-left: var(--space-1);
  }
  .t-ml-2 {
    --margin-left: var(--space-2);
  }
  .t-ml-3 {
    --margin-left: var(--space-3);
  }
  .t-ml-4 {
    --margin-left: var(--space-4);
  }
  .t-ml-5 {
    --margin-left: var(--space-5);
  }
  .t-ml-6 {
    --margin-left: var(--space-6);
  }
  .t-ml-7 {
    --margin-left: var(--space-7);
  }
  .t-ml-8 {
    --margin-left: var(--space-8);
  }
  .t-ml-9 {
    --margin-left: var(--space-9);
  }
  .-t-ml-1 {
    --margin-left: calc(-1 * var(--space-1));
  }
  .-t-ml-2 {
    --margin-left: calc(-1 * var(--space-2));
  }
  .-t-ml-3 {
    --margin-left: calc(-1 * var(--space-3));
  }
  .-t-ml-4 {
    --margin-left: calc(-1 * var(--space-4));
  }
  .-t-ml-5 {
    --margin-left: calc(-1 * var(--space-5));
  }
  .-t-ml-6 {
    --margin-left: calc(-1 * var(--space-6));
  }
  .-t-ml-7 {
    --margin-left: calc(-1 * var(--space-7));
  }
  .-t-ml-8 {
    --margin-left: calc(-1 * var(--space-8));
  }
  .-t-ml-9 {
    --margin-left: calc(-1 * var(--space-9));
  }
// }
.t-ml {
  --margin-left: var(--ml);
}
@media (--xs) {
  .xs\:t-ml {
    --margin-left: var(--ml-xs);
  }
}
@media (--sm) {
  .sm\:t-ml {
    --margin-left: var(--ml-sm);
  }
}
@media (--md) {
  .md\:t-ml {
    --margin-left: var(--ml-md);
  }
}
@media (--lg) {
  .lg\:t-ml {
    --margin-left: var(--ml-lg);
  }
}
@media (--xl) {
  .xl\:t-ml {
    --margin-left: var(--ml-xl);
  }
}
