.t-min-h {
  min-height: var(--min-height);
}
@media (--xs) {
  .xs\:t-min-h {
    min-height: var(--min-height-xs);
  }
}
@media (--sm) {
  .sm\:t-min-h {
    min-height: var(--min-height-sm);
  }
}
@media (--md) {
  .md\:t-min-h {
    min-height: var(--min-height-md);
  }
}
@media (--lg) {
  .lg\:t-min-h {
    min-height: var(--min-height-lg);
  }
}
@media (--xl) {
  .xl\:t-min-h {
    min-height: var(--min-height-xl);
  }
}
