// @breakpoints {
  .t-resize-none {
    resize: none;
  }
  .t-resize-vertical {
    resize: vertical;
  }
  .t-resize-horizontal {
    resize: horizontal;
  }
  .t-resize-both {
    resize: both;
  }
// }
