/*
 * We are modeling this after the "text-wrap" property, but use "white-space" because it has better support as of 2024.
 */
// @breakpoints {
  .t-tw-wrap {
    white-space: normal;
  }
  .t-tw-nowrap {
    white-space: nowrap;
  }
  .t-tw-pretty {
    white-space: normal;
    text-wrap: pretty;
  }
  .t-tw-balance {
    white-space: normal;
    text-wrap: balance;
  }
// }
