// @breakpoints {
  .t-va-baseline {
    vertical-align: baseline;
  }

  .t-va-top {
    vertical-align: top;
  }

  .t-va-middle {
    vertical-align: middle;
  }

  .t-va-bottom {
    vertical-align: bottom;
  }
// }
