@import './purple';
@import './purple-dark';
@import './purple-alpha';
@import './purple-dark-alpha';

:root {
  --purple-contrast: white;
}

:root,

.light-theme, [data-theme='light'] {
  --purple-surface: #faf5fecc;
  --purple-indicator: var(--purple-9);
  --purple-track: var(--purple-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --purple-surface: color(display-p3 0.9804 0.9647 0.9922 / 0.8);
    }
  }
}


.dark-theme, [data-theme='dark'] {
  --purple-surface: #2b173580;
  --purple-indicator: var(--purple-9);
  --purple-track: var(--purple-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --purple-surface: color(display-p3 0.149 0.0941 0.1961 / 0.5);
    }
  }
}
