@import './red';
@import './red-dark';
@import './red-alpha';
@import './red-dark-alpha';

:root {
  --red-contrast: white;
}

:root,

.light-theme, [data-theme='light'] {
  --red-surface: #fff5f5cc;
  --red-indicator: var(--red-9);
  --red-track: var(--red-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --red-surface: color(display-p3 0.9961 0.9647 0.9647 / 0.8);
    }
  }
}


.dark-theme, [data-theme='dark'] {
  --red-surface: #2f151780;
  --red-indicator: var(--red-9);
  --red-track: var(--red-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --red-surface: color(display-p3 0.1647 0.0863 0.0863 / 0.5);
    }
  }
}
