@import './slate';
@import './slate-dark';
@import './slate-alpha';
@import './slate-dark-alpha';

:root {
  --slate-contrast: white;
}

:root,

.light-theme, [data-theme='light'] {
  --slate-surface: #ffffffcc;
  --slate-indicator: var(--slate-9);
  --slate-track: var(--slate-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --slate-surface: color(display-p3 1 1 1 / 0.8);
    }
  }
}


.dark-theme, [data-theme='dark'] {
  --slate-surface: #1f212380;
  --slate-indicator: var(--slate-9);
  --slate-track: var(--slate-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --slate-surface: color(display-p3 0.1176 0.1255 0.1333 / 0.5);
    }
  }
}
