@import './tomato';
@import './tomato-dark';
@import './tomato-alpha';
@import './tomato-dark-alpha';

:root {
  --tomato-contrast: white;
}

:root,

.light-theme, [data-theme='light'] {
  --tomato-surface: #fff6f5cc;
  --tomato-indicator: var(--tomato-9);
  --tomato-track: var(--tomato-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --tomato-surface: color(display-p3 0.9922 0.9647 0.9608 / 0.8);
    }
  }
}


.dark-theme, [data-theme='dark'] {
  --tomato-surface: #2d191580;
  --tomato-indicator: var(--tomato-9);
  --tomato-track: var(--tomato-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --tomato-surface: color(display-p3 0.1569 0.0941 0.0784 / 0.5);
    }
  }
}
