.img {
  max-width: 100%;
}

.p {
  margin: 0 0 1em 0;
}

@media (min-width: 500px) {
  .media {
    display: grid;
    grid-template-columns: fit-content(200px) 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      'image content'
      'image footer';
    grid-gap: 20px;
    margin-bottom: 4em;
  }

  .mediaFlip {
    grid-template-columns: 1fr fit-content(250px);
    grid-template-areas:
      'content image'
      'footer image';
  }

  .img {
    grid-area: image;
  }

  .content {
    grid-area: content;
  }

  .footer {
    grid-area: footer;
  }
}


/* Alternative layouts */

.media, .mediaAlt {
  margin-bottom: 2em;
  border: 2px solid #444;
  padding: 10px;
}

.mediaAlt > .title { grid-area: title; }
.mediaAlt > .img { grid-area: img; }
.mediaAlt > .content { grid-area: bd; }
.mediaAlt > .footer { grid-area: ft; }

.mediaAlt {
  display: grid;
  grid-column-gap: 20px;
  grid-template-areas:
    "title"
    "img"
    "bd"
    "ft";
}


@media (min-width: 600px) {

  /* clearfix*/
  .mediaAlt:after {
    content: "";
    display: block;
    clear: both;
  }

  .mediaAlt > .mediaAlt {
    margin-left: 160px;
    clear: both;
  }

  .mediaAlt .img {
    float: left;
    margin: 0 10px 0 0;
    width: 150px;
  }
  
  .mediaAlt .footer {
    /* background-color: #eee; */
    padding: 10px;
  }
  .mediaAlt .footer p {
    margin: 0;
  }

  .media.mediaFlip .img {
    float: right;
    margin: 0 0 0 10px;
  }

  .mediaAlt > * {
    margin: 0 0 0 160px;
  }

  .media.mediaFlip > * {
    margin: 0 160px 0 0;
  }

  @supports(display: grid ) {
    /* override */
    .mediaAlt > *,
    .media.mediaFlip > * {
      margin: 0;
    }
    .mediaAlt .img,
    .mediaAlt.mediaFlip .img {
      width: auto;
      margin: 0;
    }
    .mediaAlt:after {
      content: none;
    }

    .mediaAlt {
      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: 150px 3fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "img title"
        "img bd"
        "ft ft";
    }

    .media.mediaFlip {
      grid-template-columns: 3fr 150px ;
      grid-template-areas:
        "title img"
        "bd img"
        "ft ft";
    }

    .media.imgFlexie {
      grid-template-columns: minmax(150px, 1fr) 3fr;
    }

    .media.mediaFlip.imgFlexie {
      grid-template-columns: 3fr minmax(150px, 1fr);
    }

    /* nested */
    .mediaAlt > .mediaAlt {
      grid-column: 2 / -1 ;
      margin: 0; /* override */
      margin-top: 1em;
    }
  }
}